.category-menu{
  padding-top: 64px;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@include breakpoint-down(780px){
  .category-menu{
    flex-direction: column;
    align-items: flex-start;
  }
}