.link-buy-now {
  padding: 7px 12px;
  background: $color-link-hovered;
  border: 2px solid $color-link-hovered;
  border-radius: 12px;
  font-family: $font-stack;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;

  &:hover{
    background-color: #fff;
    color: $color-link-hovered;
    
  }
}